doctype html
html
  head
    title My Simple App
    link(rel='stylesheet', href='../app.css', type='text/css')
  body
    .header
      .imhold
        img#theLogo.logoIm(src='/logo.png', alt='logo')
      .navhold
        .topnav
          a(href='/') Home
          a(href='/products') Products
          a(href='/create') New product
          a(href='/reviews') Reviews
          a(href='/add') Leave Review
          a(href='/register') Register
          a(href='/login') Log in
          a(href='/logout') Log out
    block content
  .footer
      p
        | This is My First Node JS Application! Copyright Liam McCabe 2018!
      form(method="post" action="search")
        label(for="search") Search:
        input(name="search", type="text", placeholder="Search for......")
        button.button(type="submit") Search